{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Add Coefficient Numbers" %}{% endblock %}

{% block content %}
    <form action="/Data/AddCoefficients/1/" method="post"> {%csrf_token %}
    {{ alphaForm.as_p}}
    <input type="submit" value="{% trans "Submit" %}" \>
    </form>

    <form action="/Data/AddCoefficients/2/" method="post"> {%csrf_token %}
    {{ betaForm.as_p}}
    <input type="submit" value="{% trans "Submit" %}" \>
    </form>
    <a href="/Data/AddFilter">{% trans "Add Filter" %}</a>
{% endblock %}
