{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Check Data" %}{% endblock %}

{% block content %}
	{% if filter_id == 0 %}
		<form action='/Data/AddRawData/CheckData/' method="post"> {% csrf_token %}
			{{getFilterForm.as_table}}
			<input type="submit" value="{% trans "Submit" %}" />
		</form>
	{% endif %}
	{%if mainFilter %}
		<form action='/Data/AddRawData/CheckData/{{filter_id}}/' method="post"> {% csrf_token %}
		<div id='topDataSheet'>
		{% trans "Filter #:" %} {{ mainFilter.filterNum}} <br />
		{% trans "Station #: 724 Kearney, NE" %} <br />
		{% trans "Sampled Days: "%} {{mainFilter.startDate}} - {{mainFilter.endDate}} <br />
		{% trans "t_stop:" %} {{mainFilter.timeStart}} <br />
		{% trans "Sample time:" %} {{mainFilter.sampleTime}} hr <br />
		{% trans "Sample volume:" %} {{mainFilter.sampleVolume}} m^3 <br />
		</div>
		<div id='mainDataSheet'>
		<table border="1">
		<tr>
			<td>{% trans "HHMMSS" %}</td>
			<td>{% trans "(alpha, beta)" %}</td>
			<td>{% trans "CFC" %}</td>
			<td>{% trans "Net(alpha, bet)" %}</td>
			<td>{% trans "alpha" %}</td>
			<td>{% trans "Net Beta" %}</td>
			<td>{% trans "Alpha X " %}{{mainFilter.alphaCoeff}}</td>
			<td>{% trans "Beta X " %}{{mainFilter.betaCoeff}}</td>
			<td>{% trans "t - tstop" %}</td>
		</tr>
		{% for data in activityData %}
			<tr>
			<td>{{data.RawData.time}}</td>
			<td>{{data.RawData.betaReading}}</td>
			<td>{{data.RawData.cleanFilterCount}}</td>
			<td>{{data.netAlBet}}</td>
			<td>{{data.RawData.alphaReading}}</td>
			<td>{{data.netBeta}}</td>
			<td>{{data.alphaAct}}</td>
			<td>{{data.betaAct}}</td>
			<td>{{data.deltaT}}</td>
			</tr>
		{% endfor %}
		</table>
		</div>
		<input type="submit" value="{% trans "Submit" %}" />
		</form>
	{% endif %}
{% endblock %}
